<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Krona+One|Merriweather&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News & Weather</title>
  </head>
  <body>

  <div class="container mt-5">
        <hr>
        <h1>Current weather</h1> <br>
        <div class = "row">
            <div class = "col">
                <p>Temperature: <%=@current_temperature%> </p>
                <p>Conditions: <%=@current_summary  %>
                <% if @current_icon == "cloudy" %>
                    <i class="fas fa-cloud"></i>
                <% elsif @current_icon == "rain" %>
                    <i class="fas fa-cloud-rain"></i>
                <% elsif @current_icon == "fog" %>
                    <i class="fas fa-smog"></i>
                <% elsif @current_icon == "partly-cloudy-night" %>
                    <i class="fas fa-cloud-moon"></i>
                <% elsif @current_icon == "partly-cloudy-day" %>
                    <i class="fas fa-cloud-sun"></i>
                <% elsif @current_icon == "clear-night" %>
                    <i class="fas fa-moon"></i>
                <% elsif @current_icon == "sleet" %>
                   <i class="fas fa-cloud-sleet"></i>
                <% elsif @current_icon == "snow" %>
                    <i class="fas fa-snowflake"></i>
                <% elsif @current_icon == "wind" %>
                    <i class="fas fa-wind"></i>
                <% elsif @current_icon == "clear-day" %>
                    <i class="fas fa-sun"></i>
                <% end %> </p>
            </div>
        </div>

<div class="container">
      <div class="row">
        <div class="col text-left">
          <hr class="my-4">
          <h1>Weather forecast </h1>
        </div>
        </div>
        </div>

  <div class="container mt-5">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Temperature (low)</th>
      <th scope="col">Temperature (high)</th>
      <th scope="col">Summary</th>
    </tr>
  </thead>
  <tbody>
   <% for day in @forecast["daily"]["data"].slice(0, 5) %>
    <tr>
      <td><%= Time.at(day["time"]).strftime("%a") %> </td>
      <td><%= day["temperatureLow"] %></td>
      <td><%= day["temperatureHigh"] %></td>
      <td><%= day["summary"] %></td>
    </tr>
  <% end %>
    </tbody>
</table>
</div>

<div class="container">
      <div class="row">
        <div class="col text-center">
          <hr class="my-4">
          <h2>Latest news stories <i class="fas fa-newspaper"></i></h2>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-4 text-center">
          <p><%= @title[0] %> </p>
          <a href="<%= @story_link[0] %>" class="btn btn-info">Full article</a>
        </div>
        <div class="col-sm-4 text-center">
         <p><%= @title[1] %> </p>
          <a href="<%= @story_link[1] %>" class="btn btn-info">Full article</a>
        </div>
        <div class="col-sm-4 text-center">
          <p><%= @title[2] %> </p>
          <a href="<%= @story_link[2] %>" class="btn btn-info">Full article</a>
        </div>
      </div>
      <hr>
    </div>

    <div class="container">
           </div>
      <div class="row mt-4">
        <div class="col-sm-4 text-center">
          <p><%= @title[3] %> </p>
          <a href="<%= @story_link[3] %>" class="btn btn-info">Full article</a>
        </div>
        <div class="col-sm-4 text-center">
         <p><%= @title[4] %> </p>
          <a href="<%= @story_link[4] %>" class="btn btn-info">Full article</a>
        </div>
        <div class="col-sm-4 text-center">
          <p><%= @title[5] %> </p>
          <a href="<%= @story_link[5] %>" class="btn btn-info">Full article</a>
        </div>
      </div>
      <hr>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>